<div style="align-items: center;
            border: 5px yellowgreen solid;
            background: cornsilk;
            padding: 130px;
            max-width: min-content;
            margin: auto;">
    <h2>Login</h2>
    <% if (messages.error) {%>
        <%= messages.error %>
    <% } %>
    
    <hr/>
    <form action="/login" method="POST">
        <p>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" />
        </p>
        <hr/>
        <p>
            <label for="password">password</label>
            <input type="password" id="password" name="password" />
        </p>
        <hr/>
        <button style="width: 48%; margin-left: 0px;" type="submit">Submit</button>
        <button style="width: 48%; margin-right: 0px;"><a href="/register">Register</a></button>
        <hr/>

    </form>
</div>